.login-page {
    padding: var(--vertical-padding) var(--horizontal-padding);
    padding-top: 64px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .login-form-container {
        margin-bottom: 64px;
    }
}
