<% var data = {
  title: "Имитация абзацных отступов"
}; %>

<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <hr>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <hr>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</dd>
  <hr>
  &nbspLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <hr>
  <img hspace="10" />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <div>
    <a href="menu.html">Меню</a>
  </div>


  <!-- <img src="../img/menu.jpg" alt="no menu" usemap="#img_map">
  <map name="img_map">
    <area shape="rect" coords="130,100,240,210" href="mess.htm">
    <area shape="rect" coords="130,220,240,320" href="inet.htm">
    <area shape="rect" coords="10,220,110,320" href="offi.htm">
    <area shape="rect" coords="260,220,340,330" href="media.htm">
    <area shape="rect" coords="140,350,230,450" href="game.htm">
    <area shape="rect" coords="10,460,110,570" href="sett.htm">
    <area shape="rect" coords="10,100,110,220" href="kont.htm">
    <area shape="rect" coords="10,340,110,450" href="nav.htm">
    <area shape="rect" coords="26,455,340,560" href="new.htm">
    <area shape="rect" coords="260,100,345,207" href="sv.htm">
    <area shape="rect" coords="260,340,340,450" href="sys.htm">
    <area shape="rect" coords="260,100,345,207" href="time.htm">
    <area shape="rect" coords="180,580,360,640" href="menu.htm">
  </map> -->
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
