<% var data = {
  title: "Меню"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="container">
  <ul>
    <li><a href="first.html">Первый элемент</a></li>
    <li><a href="second.html">Второй элемент</a></li>
    <li><a href="third.html">Третий элемент</a></li>
    <li><a href="forth.html">Четвертый элемент</a></li>
    <li><a href="fifth.html">Пятый элемент</a></li>
    <li><a href="index.html">Lorem ipsum</a></li>
  </ul>
</div>

<%= _.template(require('./../includes/footer.html'))(data) %>
